<html>
    <body>
        <img src='../htest/Baidu_Banner.png' style="background-color: skyblue; height: 100px; width: 200px;"><font size="6" color="blue"><b>Baidu Hardware Quality Management Testing Platform</b></font></img>
        <hr color='black'>
        <h1>TestResult Summary</h1>
        <hr color='black'>
        <h2>Overview</h2>
        <table border="1" width="400">
            <tr>
            <th>Name</th>
            <th>Value</th>
            </tr>
            <tr>
                <td>TestScript Name</td>
                <td>tctc</td>
            </tr>
            <tr>
                <td>TestInstance ID</td>
                <td>titi</td>
            </tr>
            <tr>
                <td>START TIME</td>
                <td>stst</td>
            </tr>
            <tr>
                <td>END TIME</td>
                <td>etet</td>
            </tr>
            <tr>
                <td>OWNER</td>
                <td>onon</td>
            </tr>
            <tr>
                <td>RESULT</td>
                <td>rsrs</td>
            </tr>
        </table>
        <br>
        <hr color='black'>
        <h2>Test Files (<a href="./">testlog directory</a>)</h2>
        <table border="1" width="400">
            <tr>
            <th>File</th>
            <th>Path</th>
            </tr>
            tltl            
        </table>

        <hr color='black'>
    </body>
</html>