<html>
    <body>
        <img src='./Baidu_Banner.png' style="background-color: skyblue; height: 100px; width: 200px;"><font size="6" color="blue"><b>Baidu Hardware Quality Management Testing Platform</b></font></img>
        <hr color='black'>
        <h1>TestRun Summary</h1>
        <hr color='black'>
        <h2>Statistics</h2>
        <table border="1" width="400">
            <tr>
            <th>Name</th>
            <th>Value</th>
            </tr>
            <tr>
                <td>TestSuite Name</td>
                <td>tsts</td>
            </tr>
            <tr>
                <td>START TIME</td>
                <td>stst</td>
            </tr>
            <tr>
                <td>END TIME</td>
                <td>etet</td>
            </tr>
            <tr>
                <td>OWNER</td>
                <td>onon</td>
            </tr>
            <tr>
                <td>SUCCESS</td>
                <td>susu</td>
            </tr>
            <tr>
                <td>TESTFAILED</td>
                <td>tftf</td>
            </tr>
            <tr>
                <td>SCRIPTFAILED</td>
                <td>sfsf</td>
            </tr>
            <tr>
                <td>ENVFAILED</td>
                <td>efef</td>
            </tr>
            <tr>
                <td>TIMEOUT</td>
                <td>toto</td>
            </tr>
        </table>
        <hr color='black'>
        <h2>Configuration</h2>
        <textarea rows="20" cols="80">configconfig</textarea>
        <br>
        <hr color='black'>
        <h2>Results</h2>
        <table border="1" width="800">
            <tr>
            <th>Name</th>
            <th>Path</th>
            <th>Results</th>
            </tr>
            <tr>
                <td>tr_name</td>
                <td><a href="tr_file_path">tr_file_path</a></td>
                <td>tr_result</td>
            </tr>      
        </table>
        <hr color='black'>
    </body>
</html>